<h2>Downloaded Image</h2>
<img width="50%" src="{{imageUrl}}" alt="image">
<h2>{{title}}</h2>
<ul class="todos">
    {{#each todos}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h3>Add a new todo</h3>
<form action="/todos" method="post">
    <label for="todo">new todo:</label>
    <input type="text" id="todo" name="todo" maxlength="140"><br><br>
    <input type="submit" value="Submit">
</form>