apiVersion: v1
kind: PersistentVolume
metadata:
  name: project-pv
  namespace: project
  annotations:
    pv.beta.kubernetes.io/gid: "1000"
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  local:
    path: /tmp/kube
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - k3d-k3s-default-worker-0
