<!doctype html>
<html lang="en">

<head>
    <title>{{title}} - devopswithkubernetes project</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>

<body>
    <header>
        <h2>Project for <a href="https://devopswithkubernetes.com/">DevOps with Kubernetes</a></h2>
    </header>
    {{{body}}}
</body>

</html>