name: colorcontent Release application

on:
  push:
    paths:
      - "colorcontent/**"

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT_ID }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-west3
  IMAGE: dwk-environments

defaults:
  run:
    shell: bash
    working-directory: colorcontent

jobs:
  build-publish-deploy:
    name: Build, Publish and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }}
          project_id: ${{ secrets.GKE_PROJECT_ID }}
      - run: gcloud --quiet auth configure-docker
      - run: gcloud container clusters get-credentials "$GKE_CLUSTER" --zone "$GKE_ZONE"
      - name: Create image name and tag
        run: echo "::set-env name=IMAGE_WITH_TAG::gcr.io/$PROJECT_ID/$IMAGE:${GITHUB_REF#refs/heads/}-$GITHUB_SHA"
      - name: Build
        run: docker build --tag "$IMAGE_WITH_TAG" .
      - name: Publish
        run: docker push "$IMAGE_WITH_TAG"
      - name: Set up Kustomize
        run: |-
          curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
          chmod u+x ./kustomize
      - name: Deploy
        run: |-
          ./kustomize edit set image PROJECT/IMAGE=$IMAGE_WITH_TAG
          kubectl apply -k .
          kubectl rollout status deployment $IMAGE
